header {
margin-bottom: 15px;
}
main {
    display: flex;
    flex-direction: row;
}
aside {
    padding-right: 5px;
    flex: 1 0 200px;
}

#mainRigtSideDiv {
    flex: 4 0 400px;
    display: flex;
    flex-direction: row;
    height: 500px;
}

section {
    padding-left: 5px;
    flex-wrap: wrap;
    flex: 1 0 200px;
}

#map {
    height: 100%;
}

#geoArounMeButton {
    margin-left: 15px;
}

.customCursor {
    cursor: pointer;
}

.customCardHead .customCardText{
    padding: 2px 10px;
    display: none;
}
.customCardHead:hover .customCardText{
    display: block;
}

@media screen and (max-width: 768px) {

    aside {
        margin-left: 5px;
    }

    main {
        flex-direction: column;
    }

    #mainRigtSideDiv {
        flex-direction: column;
    }

    #map {
        height: 400px;
        width: 100%;
    }
}

